.current-weather {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 20px 0;
    z-index: 2;
}

.cw-city {
    font-size: 22px;
}

.cw-temp {
    font-size: 75px;
    font-weight: 600;
}

.cw-condition {
    font-size: 17px;
}

.cw-condition:first-letter {
    text-transform: uppercase;
}

.cw-other {
    display: flex;
    padding: 10px;
    max-width: 510px;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    padding-left: 70px;
    flex-wrap: wrap;
}

.cw-other > div {
    display: flex;
    width: 140px;
    text-align: left;
    align-items: center;
}

.other-wind > svg {
    transform: scale(0.9);
    padding-top: 3px;
    padding-left: 3px;
}